<app-header [title]="'Bienvenido'"></app-header>

<ion-content [fullscreen]="true">
  <section class="center">
    <app-access-data-form (submitDataEventEmitter)="this.receiveAccessData($event)" 
    [fastUser]="this.fastAccessUserSelected"></app-access-data-form>
    
    <div class="groupButton">
      <ion-button (click)="this.changeFastAccessUserSelected(0)" expand="block" fill="outline">
        Administrador
      </ion-button>

      <ion-button (click)="this.changeFastAccessUserSelected(1)" expand="block" fill="outline">
        Invitado
      </ion-button>

      <ion-button (click)="this.changeFastAccessUserSelected(2)" expand="block" fill="outline">
        Usuario
      </ion-button>

      <ion-button (click)="this.changeFastAccessUserSelected(3)" expand="block" fill="outline">
        Anónimo
      </ion-button>

      <ion-button (click)="this.changeFastAccessUserSelected(4)" expand="block" fill="outline">
        Tester
      </ion-button>
    </div>

    <section class="iconContainer">
      <img class="imgIcon" src="../../../../assets/SplashArt/MyLanguages_NoBack.png">
    </section>
    <h1>Mi tabla</h1>

  </section>

</ion-content>
